In [7]:
import pandas as pd
df = pd.read_csv("data.csv")


df.rename(index=str, columns={"Old Scheme (in thousands)": "Old_Scheme", "New Scheme (in thousands)": "New_Scheme"})
titan_insurance = df.rename(index=str, columns={"Old Scheme (in thousands)": "Old_Scheme", "New Scheme (in thousands)": "New_Scheme"})
# now make every single data of old scheme and new scheme in 1000s


titan_insurance["Old_Scheme"]=titan_insurance["Old_Scheme"].apply(lambda x: x*1000)
titan_insurance["New_Scheme"]=titan_insurance["New_Scheme"].apply(lambda x: x*1000)

titan_insurance

    SALESPERSON  Old_Scheme  New_Scheme
0             1       57000       62000
1             2      103000      122000
2             3       59000       54000
3             4       75000       82000
4             5       84000       84000
5             6       73000       86000
6             7       35000       32000
7             8      110000      104000
8             9       44000       38000
9            10       82000      107000
10           11       67000       84000
11           12       64000       85000
12           13       78000       99000
13           14       53000       39000
14           15       41000       34000
15           16       39000       58000
16           17       80000       73000
17           18       87000       53000
18           19       73000       66000
19           20       65000       78000
20           21       28000       41000
21           22       62000       71000
22           23       49000       38000
23           24       84000       95000
24           25       63000       81000
25           26       77000       58000
26           27       67000       75000
27           28      101000       94000
28           29       91000      100000
29           30       50000       68000

In [8]:
print(titan_insurance["Old_Scheme"].mean())
titan_insurance["New_Scheme"].mean()

68033.33333333333

72033.33333333333

In [11]:
from scipy import stats 
import numpy as np



#stats.ttest_rel(titan_insurance["New_Scheme"], titan_insurance["Old_Scheme"])

z_stats, pvalue = stats.wilcoxon(titan_insurance["New_Scheme"] - titan_insurance["Old_Scheme"])

print (z_stats)

pvalue

131.0

0.06116952762758769

In [ ]:

Q2)

Describe the five percent significance test you would apply to these data to determine whether the new scheme has significantly raised outputs? What conclusion does the test lead to?

Solution:

It is asked that whether the new scheme has significantly raised the output, it is an example of the one-tailed t-test.


Mean of amount assured before the introduction of scheme = 68450

Mean of amount assured after the introduction of scheme = 72000

Difference in mean = 72000 – 68450 = 3550

Let,

μ1 = Average sums assured by salesperson BEFORE changeover. μ2 = Average sums assured by salesperson AFTER changeover.

H0: μ1 = μ2  ; μ2 – μ1  = 0

HA: μ1 < μ2   ; μ2 – μ1  > 0 ; true difference of means is greater than zero.

Since population standard deviation is unknown, paired sample t-test will be used.

Since p-value (=0.06116952762758769) is higher than 0.05, we accept (fail to reject) NULL hypothesis. The new scheme has NOT significantly raised outputs.

In [ ]:

#Q3) What conclusion does the test (p-value) lead to? (2.5 points)
Since p-value (0.06116952762758769) is higher than 0.05, we accept (fail to reject) NULL hypothesis. The new scheme has NOT significantly raised outputs.

In [ ]:
#Q4)

Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
        a) The probability of a type 1 error? (2.5 points)

        b) What is the p- value of the hypothesis test if we test for a difference of $5000? (5 points)

        c) Power of the test (5 points)

In [ ]:

Ans 4 (a):- Solution: Probability of Type I error = significant level = 0.05 or 5%

In [32]:
#Ans 4(b) :- 
    
    
#    Let  μ2 = Average sums assured by salesperson AFTER changeover.

#μ1 = Average sums assured by salesperson BEFORE changeover.

#μd = μ2 – μ1   H0: μd ≤ 5000  HA: μd > 5000

#This is a right tail test



stats.ttest_rel(titan_insurance["New_Scheme"], titan_insurance["Old_Scheme"]

Ttest_relResult(statistic=1.5559143823544377, pvalue=0.13057553961337662)

In [20]:
#power of the test = probability of type two error 
#ower of the test = 1 - probability of type 2 error

#Q 4(c))
#---------

import numpy as np

pre_test = titan_insurance["Old_Scheme"]
post_test = titan_insurance["New_Scheme"]


(np.mean(pre_test) - np.mean(post_test))/np.sqrt(((30-1)*np.var(pre_test) + (30-1)*np.var(post_test)) / 30+30-2)\

-0.13102028811290184

In [33]:
from statsmodels.stats.power import TTestIndPower
#TTestPower.power(effect_size, nobs, alpha, df=None, alternative='two-sided')[source]

#print (TTestIndPower(0.131, nobs=30, alpha=0.05,alternative='two-sided'))

from statsmodels.stats.power import  tt_ind_solve_power
from scipy.interpolate import interp1d
import matplotlib.pyplot as plt
tt_ind_solve_power(0.131, nobs1=30, alpha=0.05, alternative='two-sided')

0.07898067451935027